/*CSS*/

body {
  margin: 0% !important;
}

/*---Bootstrap---*/
.navbar button,
.form-control,
.form-control:active,
.btn-close {
  outline: none !important;
  box-shadow: none !important;
}

header .navbar {
  background-color: #5c9f79 !important;
  border: #5c9f79 !important;
}

header .navbar a,
header .navbar a:active,
header .navbar a:hover {
  color: white !important;
}

.btn-danger,
.btn-danger:active,
.btn-danger:hover {
  background-color: #bd4b4d !important;
  border: #bd4b4d !important;
}

.btn-success,
.btn-success:active,
.btn-success:hover {
  background-color: #4c956c !important;
  border: #4c956c !important;
}

.carousel-indicators button,
.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.table-primary {
  background-color: #1e3d59 !important;
  border: #1e3d59 !important;
}

.accordion-button,
.accordion-button:active,
.accordion-button:hover {
  outline: none !important;
  box-shadow: none !important;
  background-color: white !important;
}

.text-primary {
  color: #1e5282 !important;
}

.text-warning {
  color: #b88f2b !important;
}

.accordion-menu i,
.table td i,
form i {
  color: #1e3d59 !important;
}

/*---DS Spendify's CSS---*/
.account-card {
  width: 315px !important;
  height: 200px !important;
  border-radius: 15px !important;
  margin-bottom: 35px !important;
  background-color: #1e3d59 !important;
}

.view-icon {
  font-size: 75px !important;
  color: #1e3d59 !important;
}

/*Animations*/
.fade-in {
  -webkit-animation: fade-in 0.75s ease-in both;
  animation: fade-in 0.75s ease-in both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Export as PDF*/
@media print {
  body * {
    visibility: hidden !important;
  }

  #statsToExport,
  #statsToExport * {
    visibility: visible !important;
  }

  .navbar-toggler {
    display: none !important;
  }

  #incomesChartContainer,
  #expensesChartContainer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
