/*CSS*/

body {
  margin: 0% !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  overscroll-behavior-y: none !important;
}

input,
input:active,
.navbar button {
  outline: none !important;
  box-shadow: none !important;
}

header .navbar,
.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.table-dark {
  background-color: #588157 !important;
  border: #588157 !important;
}

header .navbar a,
header .navbar a:active,
header .navbar a:hover {
  color: white !important;
}

.container i {
  color: #344e41 !important;
}

.navbar-toggler {
  color: white !important;
}
